<div class="prose">
  <h1 class="text-center">Book a Movie</h1>
  <%= form_with(model: @booking, url: bookings_path, local: true) do |form| %>
    <!-- Display movie title, timeslot, and cinema number -->
    <div class="">
      <p>Movie: <%= @movie_title %></p>
      <p>Timeslot: <%= @timeslot_start_time %></p>
      <p>Cinema Number: <%= @cinema_number %></p>
      <p>Seats Available: <%= @screening.available_seatings_count %></p>
      <!-- Dropdown for selecting available seats -->
      <%= form.label :seating_id, 'Select a Seat:' %>
      <%= form.collection_select :seating_id, @screening.available_seatings, :id, :seat_number, { prompt: "Select a Seat" }, class: input_class %>
      <!-- Hidden fields for other attributes -->
      <%= form.hidden_field :screening_id %>
      <%= form.hidden_field :user_id %>
      <!-- Submit and Back buttons -->
      <% if @screening.available_seatings_count > 0 %>
        <%= form.submit 'Confirm Booking', class: form_button_class %>
      <% end %>
      <%= link_to 'Back', root_path %>
    </div>
  <% end %>
</div>
