<!-- app/views/admin/malls/create_movie.html.erb -->
<div class="prose">
  <h1 class="text-center">Add a Movie For <%= @mall.name %></h1>
  <%= form_with(model: @movie, url: save_movie_admin_mall_path(@mall), local: true) do |form| %>
    <div class="flex flex-col mb-4">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-input" %>
    </div>
    <div class="flex flex-col mb-4">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-textarea" %>
    </div>
    <%= form.submit "Save Movie", class: form_button_class %>
  <% end %>
</div>
