<div class="prose">
  <h1 class="text-center"><%= @mall.name %></h1>
  <!-- Table for movie list -->
  <section class="mt-4">
    <h2 class="text-center">Movie List</h2>
    <table class="border-collapse border border-gray-300 w-full">
      <thead class="bg-gray-200">
        <tr class="text-center">
          <th class="border border-gray-300 px-4 py-2">Movie Title</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @movies.each do |movie| %>
          <tr>
            <div class="flex">
              <td class="border border-gray-300 px-4 py-2"><%= movie.title %>
                <span><%= link_to "delete", destroy_movie_admin_mall_path(@mall, movie_id: movie.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?", class: "ml-4" } %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <span><%= link_to 'Add a movie',  create_movie_admin_mall_path, class: form_button_class %></span>
    <!-- Table for total screenings with timeslot and cinema number -->
    <section class="mt-4">
      <h2 class="text-center">Total Screenings</h2>
      <table class="border-collapse border border-gray-300 w-full">
        <thead class="bg-gray-200">
          <tr class="text-center">
            <th class="border border-gray-300 px-4 py-2">Movie Title</th>
            <th class="border border-gray-300 px-4 py-2">Total Screenings</th>
            <th class="border border-gray-300 px-4 py-2">Timeslot</th>
            <th class="border border-gray-300 px-4 py-2">Cinema Number</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @movies.each do |movie| %>
            <tr>
              <td class="border border-gray-300 px-4 py-2"><%= movie.title %></td>
              <td class="border border-gray-300 px-4 py-2"><%= movie.screenings.count %></td>
              <td class="border border-gray-300 px-4 py-2">
                <% movie.screenings.each do |screening| %>
                  <%= link_to screening.timeslot.start_time, admin_screening_path(screening.id) %><br>
                <% end %>
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <% movie.screenings.each do |screening| %>
                  <%= screening.cinema.cinema_number %><br>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <span><%= link_to 'Add A Screening', new_admin_screening_path(mall_id: @mall.id), class: form_button_class %></span>
  </div>
