<div class="prose">
  <h1 class="text-center">Create Screening For <%= @mall.name %></h1>
  <%= form_with(model: @screening, url: admin_screenings_path, local: true) do |form| %>
    <div class="flex flex-col">
      <%= form.label :movie_id %>
      <%= form.collection_select :movie_id, @movies, :id, :title, { prompt: "Select Movie" }, required: true %>
      <div data-controller="cinema" class="flex flex-col mb-4">
        <%= form.label :cinema_id %>
        <%= form.collection_select :cinema_id, @cinemas, :id, :cinema_number, { prompt: "Select Cinema" }, data: { action: "change->cinema#change" }, required: true %>
        <%= form.label :timeslot %>
        <%= form.collection_select :timeslot_id, [], :id, :timeslot_id, { prompt: "Select Timeslot" }, data: { cinema_target: "selectTimeslot" }, required: true %>
      </div>
      <%= form.submit 'Schedule Movie', class: form_button_class %>
    <% end %>
  </div>
</div>
